body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
        margin-top: 20vh;
        border: 2px solid black;
        padding: 50px 55px;
        border-radius: 15px;
}

input{
    border-radius: px;
}